*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;    
}

.fundo {
    background: radial-gradient(#072133, #272727);
    height: 100vh;
}

h1 {
    color: white;
}

#resultado {
    margin: 5px auto;
    padding: 10px;
    width: 88%;
    height: 20px;
    background-color: white;
    text-align: right;
    font-size: 20px;
}

.calculadora {
    border-radius: 15px;
    padding: 15px;
    position: absolute;
    background-color: #3f3f3f;
    margin: 25% 0 0 50%;
    transform: translate(-50%,-50%);
}

.botao, .botaoIgual, .botaoZero {
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #072133;
    border: none;
    color: white;
    margin: 1px;
}

.botao:hover, .botaoIgual:hover, .botaoZero:hover {
    background-color: rgb(0, 0, 0);
}

.botaoIgual {
    height: 103px;
}

.botaoZero {
    width: 105px;
}